@use '../helpers' as *;

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__body {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 35px;
    max-width: 531px;
  }

  &__description {
    font-size: 20px;
    line-height: 1.4;
  }

  &__partners {
    &-list {
      display: flex;
      justify-content: space-between;
      column-gap: 37px;
    }

    &-image {
      filter: grayscale(1);
      transition-duration: var(--transition-duration);

      @include hover {
        filter: grayscale(0);
      }
    }
  }
}
